body {
    margin: 0;
    background-color: rgb(208, 255, 239);
}

.main-game {
    height: 100vh; /*viewport height*/
    width: 100vw; /*viewport width*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul'; /*Define o nome para cada container*/
    grid-gap: 10px;  /*Define o espaço entre cada área do grid*/
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 40vmax;  /*Relativo a 40% da maior dimensão de largura do viewport*/
    height: 40vmax;  /*Relativo a 40% da maior dimensão de altura do viewport*/
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.1;
}